*{
    font-family: Roboto, Arial, sans-serif;
  }
  input:focus{
    outline: none;
  }
  .banner{
    background-image: url(../public/image/banner-music3.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .form-login{
    padding: 5% 10% 5% 10%;
    margin: 5% 0 5% 0;
    background: #191919;
    opacity: 0.8;
    filter: alpha(opacity=80);
    box-shadow: inset 0 0 5px #b2b2b2, 0 0 50px #b2b2b2;
  }
  .form-login .login span{
    color: white;
  }
  .form-login .login{
    font-weight: bold;
    font-size: 30px;
    padding: 0 0 10% 0;
  }
  .form-login .row{
    margin: 5% 0 5% 0;
  }
  .form-login .row input[type=text], input[type=password]{
    border:none;
    background: none;
    padding: 3%;
    width: 73%;
    color: white;
  
  }
  .form-login .row i{
    padding: 4%;
    color: white;
  }
  .input-text{
    padding: 2%;
    border: 2px solid #666666;
    border-radius: 5px;
    flex: 1;
    transition: background-color 0.2s cubic-bezier(0.86, 0.01, 0.54, 0.72);
  }
  .input-text:hover{
    box-shadow: inset 0 0 5px #b2b2b2, 0 0 5px #b2b2b2;
  }
  .form-login .row .col-md-6 a{
    color: white;
  }
  .form-login .row .col-md-6 a:hover{
    opacity: none;
  }
  .link-sign span{
    color: white;
  }